html, body {
    padding: 0;
    margin: 0;
}
#game_container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#sky {
    position: absolute;
    top: 0px;
    height: 5px;
    width: 100%;
    background-color: blue;
}
#ground {
    position: absolute;
    bottom: 0px;
    height: 5px;
    width: 100%;
    background-color: brown;
}
.ship {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.box {
    position: absolute;
    top: 5px;
    background-color: red;
}
.bullet {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}